<html>
  <body>
    <form action = "signUp" method = "get">
      <fieldset>
	<legend>Account Unique ID</legend>
	Email Address:<br>
	<input type = "text" name = "email">
	<br>
	Password:<br>
	<input type = "text" name = "password">
	<br>
      </fieldset>
      <fieldset>
	<legend>Personal Information protected by HIPPA:</legend>
	Gender:<br>
	<input type = "radio" name = "gender" value = "male">Male
	<input type = "radio" name = "gender" value = "female">Female
	<br><br>
	<input type = "submit" value = "Submit for Signing Up Now">
      </fieldset>
    </form>
</html>
